--- 
layout: default
title: Neat Starter
path: home
---
<div class="iframe-wrap">
    <iframe src="components/features_2-col-icon/" scrolling="no" loading="lazy"></iframe>
    <div class="resize-handle"></div>
</div>