@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/*iframe stuff*/

.iframe-wrap {
  width: 1500px;
  height: 100%;
  position: relative;
  touch-action: none;
}

/* .resize-handle {
  width: 18px;
  height: auto;
  background: gray;
  position: absolute;
  right: 0;
  top: 0;
} */

iframe {
  width: 100%;
}

/*  <br> Spacing hack inside <pre> */

pre span + br {
  content: " ";
}
